[[extend 'layout.html']]

<style>
    [v-cloak] {
         display: none;
    }
    .item-container {
      height: 700px;
    }
    .item-box {
      border: 1px solid rgb(224, 224, 224);
      height: 100%;
      width: 50%;
    }
    .item-image {
      height: 40%;
      width: 40%;
      float: left;
    }
    .item-name-price {
      height: 10%;
      width: 15%;
      float: left;
      border: 1px solid rgb(224, 224, 224);
    }
    .item-reviews-buttons {
      height: 100%;
      width: 20%;
      margin-left: 60px;
      float: left;
      border: 1px solid rgb(224, 224, 224);
    }
    .item-reviews {
      height: 100%;
      width: 40%;
      float: right;
      border: 1px solid rgb(224, 224, 224);
      overflow-y: scroll;
      overflow-x: hidden;
    }

    .pink {
      background-color: pink
    }
    .orange {
      background-color: rgb(248, 172, 85)
    }
    .blue {
      background-color: rgb(76, 211, 221)
    }
    .red {
      background-color: rgb(190, 89, 106)
    }
    .green {
      background-color: rgb(85, 248, 180)
    }
    .purple {
      background-color: rgb(103, 76, 221)
    }
    </style>

<div class="section" id="vue-target" v-cloak>
  
    <div class="item-container">
        <div v-for="row in curr_item">
            <div class="item-box">
                <div class="item-image">
                    <img v-bind:src="row.item_image">
                </div>
                <div class="item-name-price">
                    {{ row.item_name }} 
                    <br>
                    {{ row.item_price }}
                </div>
            </div>
        </div>
        <!-- **************************Item Reviews******************************* -->
        <div class="item-reviews-buttons">

          <!-- ********* Write a review here ********* -->
          <div v-if="review_post_mode == false">
            <button class="button is-primary" @click="set_mode(true)">
                <i class="fa fa-plus fa-fw"></i>
            </button>
          </div>
          <div v-if="review_post_mode">
            <div>
              <!-- ********* Set the star rating ********* -->
              <span @mouseout="stars_out">
                <span @mouseover="stars_over(star_idx)"
                      @click="set_stars(star_idx)"
                      v-for="star_idx in [1, 2, 3, 4, 5]">
                  <i v-if="star_idx <= current_rating_display" class="fa fa-star"></i>
                  <i v-if="star_idx > current_rating_display" class="fa fa-star-o"></i>
                </span>
              </span>
            </div>
            
            <div class="block">
                <textarea class="textarea" placeholder="Write your review here" v-model="review_content"></textarea>
            </div>

            <div class="block is-tight">
              <div class="file is-info">
                <label class="file-label">
                  <input class="file-input" type="file"
                         accept=".jpg, .png, .jpeg, .gif, .bmp, .tif, .tiff|image/*"
                         @change="upload_file($event)">
                  <span class="file-cta">
                    <span class="file-label">
                      <span><i class="fa fa-upload"></i></span>
                    </span>
                  </span>
                </label>
              </div>
            </div>
    
            <div class="block">
                <a class="button is-primary" @click="add_review">
                        Post
                </a>
                <a class="button is-warning" @click="set_mode(false)">
                    Cancel
                </a>
            </div>
          </div>

        <!-- ************************** User Lists ******************************* -->
        <div v-if="create_new_list_mode == false">
          <button class="button is-primary" @click="set_create_new_list_mode(true)">
              Add to New List
          </button>
        </div>
        <div v-if="create_new_list_mode">

          <div class="block">
            <textarea class="input" placeholder="Enter a new list name here" v-model="new_list_name"></textarea>
          </div>

          <div class="block">


            <div v-for="ln in list_names">
              <button @click="create_list(ln)"> {{ ln }} </button>
            </div>

            <a class="button is-primary" @click="create_list(new_list_name)">
              Submit
            </a>
            <a class="button is-warning" @click="set_create_new_list_mode(false)">
              Cancel
            </a>
          </div>
        </div>

        </div>

        <!-- ********* Show the list of reviews here ********* -->
        <div class="item-reviews">
          Reviews
        <div v-for="review in reviews.slice().reverse()">
          <div class="notification" v-if="review.item_id == curr_item[0].item_id">
              <div>{{review.review_content}}</div>
              <div class="has-text-grey">{{review.reviewer_name}}</div>

              <div class="columns">

                <div class="column is-1">
                  <button v-if="review.liked" @mouseenter="set_curr_row(review._idx); get_likers_list(review._idx); set_likes_enabled(true);" @mouseleave="set_likes_enabled(false); reset_lists(); reset_row();" @click="set_liked_mode(review._idx, false); unlike_post(review._idx);">
                    <i class="fa fa-fw fa-thumbs-up"></i>
                  </button>
                  <button v-else @mouseenter="set_curr_row(review._idx); get_likers_list(review._idx); set_likes_enabled(true);" @mouseleave="set_likes_enabled(false); reset_lists(); reset_row();" @click="set_liked_mode(review._idx, true); set_disliked_mode(review._idx, false); like_post(review._idx); undislike_post(review._idx);">
                    <i class="fa fa-fw fa-thumbs-o-up"></i>
                  </button>
                  <button v-if="review.disliked" @mouseenter="set_curr_row(review._idx); get_dislikers_list(review._idx); set_dislikes_enabled(true);" @mouseleave="set_dislikes_enabled(false); reset_lists(); reset_row();" @click="set_disliked_mode(review._idx, false); undislike_post(review._idx);">
                    <i class="fa fa-fw fa-thumbs-down"></i>
                  </button>
                  <button v-else @mouseenter="set_curr_row(review._idx); get_dislikers_list(review._idx); set_dislikes_enabled(true);" @mouseleave="set_dislikes_enabled(false); reset_lists(); reset_row();" @click="set_disliked_mode(review._idx, true); set_liked_mode(review._idx, false); dislike_post(review._idx); unlike_post(review._idx);">
                    <i class="fa fa-fw fa-thumbs-o-down"></i>
                  </button>
                </div>

                <div class="column is-10">
                  <div v-if="review._idx == curr_row && likes_enabled && likers_list.length > 0">
                    <h1 style="color:blue;font-size:12px;">Liked by {{likers_list}}</h1>
                  </div>
                  <div v-if="review._idx == curr_row && dislikes_enabled && dislikers_list.length > 0">
                    <h1 style="color:blue;font-size:12px;">Disliked by {{dislikers_list}}</h1>
                  </div>
                </div>
                
                <div class="column">
                  <div v-if="review.reviewer_email == add_email">
                    <button @click="delete_review(review._idx)" class="button is-danger">
                      <i class="fa fa-trash"></i>
                    </button>
                  </div>
                </div>

              </div>

          </div>
        </div>
        <!-- ************************************************* -->
        </div>
    </div>

</div>

[[block page_scripts]]
<script>
  let load_items_url = "[[=XML(load_items_url)]]";
  let load_curr_item_url = "[[=XML(load_curr_item_url)]]";
  let load_reviews_url = "[[=XML(load_reviews_url)]]";
  let add_review_url = "[[=XML(add_review_url)]]";
  let delete_review_url = "[[=XML(delete_review_url)]]";

  let upload_url = "[[=XML(upload_url)]]";
  let get_images_url = "[[=XML(get_images_url)]]";
  let load_user_lists_url = "[[=XML(load_user_lists_url)]]";
  let create_user_list_url = "[[=XML(create_user_list_url)]]";

  let get_rating_url = "[[=XML(get_rating_url)]]";
  let add_liker_url = "[[=XML(add_liker_url)]]";
  let remove_liker_url = "[[=XML(remove_liker_url)]]";
  let add_disliker_url = "[[=XML(add_disliker_url)]]";
  let remove_disliker_url = "[[=XML(remove_disliker_url)]]";
  let get_likerslist_url = "[[=XML(get_likerslist_url)]]";
  let get_dislikerslist_url = "[[=XML(get_dislikerslist_url)]]";
  let get_name_url = "[[=XML(get_name_url)]]";
</script>
<script src="js/app.js"></script>
[[end]]