[[extend 'layout.html']]

<style>
    [v-cloak] {
         display: none;
    }
    .item-container {
      height: 700px;
    }
    .item-box {
      border: 1px solid rgb(224, 224, 224);
      height: 100%;
      width: 50%;
    }
    .item-image {
      height: 40%;
      width: 40%;
      float: left;
    }
    .item-name-price {
      height: 10%;
      width: 15%;
      float: left;
      border: 1px solid rgb(224, 224, 224);
    }
    .item-reviews-buttons {
      height: 100%;
      width: 20%;
      margin-left: 60px;
      float: left;
      border: 1px solid rgb(224, 224, 224);
    }
    .item-reviews {
      height: 100%;
      width: 30%;
      float: right;
      border: 1px solid rgb(224, 224, 224);
      overflow-y: scroll;
      overflow-x: hidden;
    }
    .pink {
      background-color: pink
    }
    .orange {
      background-color: rgb(248, 172, 85)
    }
    .blue {
      background-color: rgb(76, 211, 221)
    }
    .red {
      background-color: rgb(190, 89, 106)
    }
    .green {
      background-color: rgb(85, 248, 180)
    }
    .purple {
      background-color: rgb(103, 76, 221)
    }
    </style>

<div class="section" id="vue-target" v-cloak>
  
    <div class="item-container">
        <div v-for="row in curr_item">
            <div class="item-box">
                <div class="item-image">
                    <img v-bind:src="row.item_image">
                </div>
                <div class="item-name-price">
                    {{ row.item_name }} 
                    <br>
                    {{ row.item_price }}
                </div>
            </div>
        </div>
        <!-- **************************Item Reviews******************************* -->
        <div class="item-reviews-buttons">

          <!-- ********* Write a review here ********* -->
          <div v-if="review_post_mode == false">
            <button class="button is-primary" @click="set_mode(true)">
                <i class="fa fa-plus fa-fw"></i>
            </button>
          </div>
          <div v-if="review_post_mode">
            <div class="block">
                <textarea class="textarea" placeholder="Write your review here" v-model="review_content"></textarea>
            </div>
    
            <div class="block">
                <a class="button is-primary" @click="add_review">
                        Post
                </a>
                <a class="button is-warning" @click="set_mode(false)">
                    Cancel
                </a>
            </div>
        </div>

        </div>
        <div class="item-reviews">
          Reviews

        <!-- ********* Show the list of reviews here ********* -->
        <div class="notification" v-for="review in reviews.slice().reverse()">
          <div v-if="review.item_id == curr_item[0].item_id">
              <div>{{review.review_content}}</div>
              <div class="has-text-grey">{{review.reviewer_name}}</div>
          </div>
        </div>
        <!-- ************************************************* -->
        </div>
    </div>

</div>

[[block page_scripts]]
<script>
  let load_items_url = "[[=XML(load_items_url)]]";
  let load_curr_item_url = "[[=XML(load_curr_item_url)]]";
  let load_reviews_url = "[[=XML(load_reviews_url)]]";
  let add_review_url = "[[=XML(add_review_url)]]";
  let delete_review_url = "[[=XML(delete_review_url)]]";
</script>
<script src="js/app.js"></script>
[[end]]