[[extend 'layout.html']]
<style>
    .my-container {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgb(255, 255, 255);
    }
    .my-container-top-padding {
        width: 100%;
        height: 50px;
    }
    .store-nav {
        width: 100%;
        height: 60px;
        background-color: black;
        vertical-align: middle;
        line-height: 60px;
        color:white;
        letter-spacing: 1px;
        font-size: small;
        font-weight: 100;
    }
    .second-nav {
        width: 100%;
        height: 200px;
        background-color: rgb(0, 0, 0);
    }
    .text-1 {
        font-size: medium;
        font-weight: 700;
        color:white;
        text-decoration: underline;
    }
    .carousel {
        float: left;
        overflow: hidden;
        width: 100%;
    }
    .carousel-container {
        height: 50%;
        width: 100%;
    }
    @media (max-width: 799px) {
        .fd {display: none;}
    }
    .pink {
      background-color: pink
    }
    .orange {
      background-color: rgb(248, 172, 85)
    }
    .blue {
      background-color: rgb(76, 211, 221)
    }
    .red {
      background-color: rgb(190, 89, 106)
    }
    .green {
      background-color: rgb(85, 248, 180)
    }
    .white {
      color: rgb(255, 255, 255)
    }
</style>

<section class="hero is-fullheight" id="vue-target">
    <div class="my-container">
        <div class="my-container-top-padding"></div>

        <div class="store-nav">
            <nav class="level is-mobile">
                <p class="level-item">
                    <div class="dropdown is-hoverable">
                        <div class="dropdown-trigger">
                            <div class="text-1">
                                SHOPORA
                                <i class="fa fa-angle-down white" aria-hidden="true"></i>
                            </div>
                            <div class="dropdown-menu" id="dropdown-menu4" role="menu">
                                <div class="dropdown-content">
                                  <a class="dropdown-item" href="[[=URL('collection')]]">
                                    Collection
                                  </a>
                                  <hr class="dropdown-divider">
                                  <a class="dropdown-item" href="[[=URL('account')]]">
                                    My Account
                                  </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </p>
                <p class="level-item fd">
                        &nbsp
                        <i class="fa fa-plane" aria-hidden="true"></i>
                        &nbsp
                        FREE SHIPPING ON ORDERS OVER $50 
                        &nbsp
                        <i class="fa fa-plane" aria-hidden="true"></i>
                        &nbsp
                </p>
                
                <p class="level-item fd">
                        FOLLOW US ON SOCIAL MEDIA - 
                        <span class="icon" style="color: rgb(194, 194, 194);">
                            <i class="fa fa-twitter"></i>
                        </span>
                        <span class="icon" style="color: rgb(194, 194, 194);">
                            <i class="fa fa-instagram"></i>
                        </span>
                        <span class="icon" style="color: rgb(194, 194, 194);">
                            <i class="fa fa-facebook"></i>
                        </span>
                </p>
                <p class="level-item fd"></p>
              </nav>
        </div>
        

        <div class="carousel-container">
            <!-- Start Carousel -->
            <div id="carousel-demo" class="carousel">
                <div class="item-1">
                    <!-- Slide Content -->
                    <img src="/Shopora/static/js/assets/w3.jpg" alt="outfit1" width="2000" height="2000">
                </div>
                <div class="item-2">
                    <!-- Slide Content -->
                    <img src="/Shopora/static/js/assets/w2.jpg" alt="outfit1" width="2000" height="2000">
                </div>
                <div class="item-3">
                    <!-- Slide Content -->
                    <img src="/Shopora/static/js/assets/w1.jpg" alt="outfit1" width="2000" height="2000">
                </div>
            </div>
            <!-- End Carousel -->
            <!-- Begin footer -->
            <footer class="footer">
                <div class="content has-text-centered">
                    <p>
                        &copy; Shopora. All Rights Reserved.
                    </p>
                </div>
            </footer>
            <!-- End footer -->
        </div>

    </div>
</section>

[[block page_scripts]]
<script src="https://cdn.jsdelivr.net/npm/bulma-carousel@4.0.3/dist/js/bulma-carousel.min.js"></script>
<script>
    bulmaCarousel.attach('#carousel-demo', {
        slidesToScroll: 1,
        slidesToShow: 1
    });
</script>
[[end]]
