<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Shopora</title>
    <base href="[[=URL('static')]]/">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="data:image/x-icon;base64,AAABAAEAAQEAAAEAIAAwAAAAFgAAACgAAAABAAAAAgAAAAEAIAAAAAAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAPAAAAAA=="/>
    <link rel="stylesheet" href="css/bulma.css">
    <link rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-carousel@4.0.3/dist/css/bulma-carousel.min.css">
    [[block page_head]]<!-- individual pages can customize header here -->
    [[end]]
  </head>

  <body>
    <!-- Custom styles -->
    <style>
    .pink {
      background-color: pink
    }
    .orange {
      background-color: rgb(248, 172, 85)
    }
    .blue {
      background-color: rgb(76, 211, 221)
    }
    .red {
      background-color: rgb(190, 89, 106)
    }
    .green {
      background-color: rgb(85, 248, 180)
    }
    .black-text {
      color: black;
    }
    </style>

  <div>

    <!-- Top navbar -->
    <nav class="navbar is-fixed-top">
      <div class="navbar-brand">
        <a class="navbar-item" href="[[=URL('')]]">
          <img src="/Shopora/static/js/assets/shoporalogo.png" alt="Shopora" width="150" height="100">
        </a>
        <span class="navbar-burger burger" data-target="navbarMenu">
          <span></span>
          <span></span>
          <span></span>
        </span>
      </div>
      <div id="navbarMenu" class="navbar-menu">
        <div class="navbar-end">

          <div class="navbar-item">
            <div class="control has-icons-left">
              <input class="input is-small" type="text" placeholder="Search">
              <span class="icon is-left">
                <i class="fa fa-search"></i>
              </span>
            </div>
          </div>

          [[if globals().get('user'):]]
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link is-primary">
                [[=globals().get('user').get('email')]]
              </a>
              <div class="navbar-dropdown">
                <a class="navbar-item" href="[[=URL('auth/logout')]]">Logout</a>
                <a class="navbar-item" href="[[=URL('auth/profile')]]">Profile</a>
                <a class="navbar-item" href="[[=URL('auth/change_password')]]">Change Password</a>
              </div>
            </div>
          [[else:]]
            <a class="navbar-item is-size-6 has-text-weight-normal" href="[[=URL('auth/login')]]">
              Login
            </a>
            <a class="navbar-item is-size-6 has-text-weight-normal" href="[[=URL('auth/register')]]">
              Register
            </a>
          [[pass]]

          <div class="navbar-item is-size-6 has-text-weight-normal">
            <p class="control">
              <div class="dropdown is-right is-hoverable">
                <div class="dropdown-trigger">
                  <a href="[[=URL('cart')]]">
                    <div class="black-text">
                      My Cart
                    </div>
                  </a>
                </div>
                <div class="dropdown-menu" id="dropdown-menu4" role="menu">
                  <div class="dropdown-content">
                    <div class="dropdown-item">
                      <p>You can insert <strong>any type of content</strong> within the dropdown menu.</p>
                    </div>
                  </div>
                </div>
              </div>
            </p>
          </div>
        </div>
      </div>
    </nav>
    <!-- End top nav bar -->

    <!-- Bottom navbar -->
    <!-- End bottom navbar -->

  </div>

    <!-- beginning of HTML inserted by extending template -->
    [[include]]
    <!-- end of HTML inserted by extending template -->
  </body>
  <script>
    document.addEventListener('DOMContentLoaded', () => {
      // Get all "navbar-burger" elements
      const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

      // Check if there are any navbar burgers
      if ($navbarBurgers.length > 0) {

        // Add a click event on each of them
        $navbarBurgers.forEach(el => {
          el.addEventListener('click', () => {

            // Get the target from the "data-target" attribute
            const target = el.dataset.target;
            const $target = document.getElementById(target);

            // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
            el.classList.toggle('is-active');
            $target.classList.toggle('is-active');

          });
        });
      }
    });
  </script>
  <script src="js/sugar.min.js"></script>
  <script src="js/axios.min.js"></script>
  <script src="js/vue.js"></script>
  <script src="js/utils.js"></script>
  [[block page_scripts]]<!-- individual pages can add scripts here -->[[end]]
</html>
