[[extend 'layout.html']]

<style>
  [v-cloak] {
      display: none;
  }
  .my-container {
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: rgb(255, 255, 255);
  }
  .my-container-top-padding {
      width: 100%;
      height: 50px;
  }
  .store-nav {
      width: 100%;
      height: 60px;
      background-color: black;
      vertical-align: middle;
      line-height: 60px;
      color:white;
      letter-spacing: 1px;
      font-size: small;
      font-weight: 100;
  }
  .second-nav {
      width: 100%;
      height: 200px;
      background-color: rgb(0, 0, 0);
  }
  .text-1 {
      font-size: medium;
      font-weight: 700;
      color:white;
      text-decoration: underline;
  }
  .carousel {
      float: left;
      overflow: hidden;
      width: 100%;
  }
  .page-container {
      margin-left: 25%;
      margin-right: 25%;
      height: 100%;
      width: 50%;
  }
  .item-image-and-description {
      float: left;
      height: 100%;
      width: 30%;
  }
  .item-image {
      height: 90%;
      width: 90%;
  }
  .item-description {
    padding: 2%;
    width: 90%;
  }
  .item-other-details {
    float: left;
    height: 100%;
    width: 50%;
  }
  .item-name {
    padding: 2%;
    height: 20%;
    width: 100%;
    font-size: large;
    font-weight: 100;
    color:rgb(0, 0, 0);
  }
  .item-price-deco-rating {
    padding-left: 2%;
    height: 20%;
    width: 100%;
    border-bottom: solid;
    border-width: thin;
    border-color: rgb(211, 211, 211);
  }
  .item-price {
    float: left;
    font-size: medium;
    font-weight: 700;
    color:rgb(153, 153, 153);
  }
  .item-text1 {
    margin-left: 2%;
    float: left;
    font-size: small;
    font-weight: 100;
    color:rgb(0, 0, 0);
    text-decoration: underline;
  }
  .item-text2 {
    margin-left: 2%;
    float: left;
    font-size:  x-small;
    font-weight: 700;
    color:rgb(0, 0, 0);
  }
  .item-text3 {
    margin: 2%;
  }
  .item-text4 {
    margin-left: 2%;
  }
  .item-text5 {
    margin: 2%;
    font-size: small;
    font-weight: 100;
    color:rgb(0, 0, 0);
  }
  .buttons {
    padding-left: 2%;
    height: 10%;
    width: 100%;
  }
  .shopora-buttons {
    margin-right: 10px;
    padding: 2px;
    float:left;
  }
  .divider {
    margin: 2%;
    border-top: solid;
    border-width: 1px;
  }
  .item-rating {
    margin-left: 2%;
    float: left;
    letter-spacing: 2px;
    font-size: medium;
    font-weight: 100;
    color:rgb(0, 0, 0);
  }
  .item-sizes {
    padding-left: 2%;
    height: 10%;
    width: 100%;
  }
  .item-list {
    padding-left: 2%;
    height: 10%;
    width: 100%;
  }
  .item-add-to-cart {
    height: 10%;
    width: 100%;
  }
  .item-checkout {
    height: 10%;
    width: 100%;
  }
  @media (max-width: 799px) {
    .fd {display: none;}
  }
  .cart-title {
    float:left;
    height: 5%;
    margin-top: 5%;
    width: 100%;
    letter-spacing: 2px;
  }
  .cart-title-title {
    float:left;
    height: 90%;
    width: 50%;
    font-size: xx-large;
    font-weight: 100;
    margin-bottom: 1%;
  }
  .list-title-name {
    float: left;
    height: 50%;
    width: 25%;
    text-align: left;
    font-size: xx-large;
    font-weight: 100;
  }
  .list-title-share {
    font-size: small;
    font-weight: 700;
    color:rgb(0, 0, 0);
    float: left;
    height: 50%;
    width: 13%;
    margin-top: 3%;
    text-align: right;
  }
  .list-title-delete {
    font-size: small;
    font-weight: 700;
    color:rgb(0, 0, 0);
    float: left;
    height: 50%;
    width: 12%;
    margin-top: 3%;
    text-align: right;
  }
  .lists-left {
    margin-top: 3%;
    float:left;
    width: 50%;
    height: 60%;
  }
  .lists-right {
    margin-top: 3%;
    float:left;
    width: 50%;
    height: 60%;
  }
  .item-container {
    width: 100%;
    height: 150px;
    margin-bottom: 5%;
  }
  .remove-item {
    float: left;
    font-size: x-small;
    font-weight: 700;
    color:rgb(0, 0, 0);
    float: left;
    height: 12%;
    width: 100%;
    margin-top: 12%;
    margin-left: 2%;
  }
  .list-name {
    width: 90%;
    height: 10%;
    font-size: x-large;
    font-weight: 100;
    margin-bottom: 1%;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .list-share-form-container {
    width: 100%;
    height: 100px;
    margin-bottom: 5%;
  }
  .input-email {
    width: 95%;
    height: 50px;
  }
  .list-share-form-submit {
    float: left;
    margin-left: 2%;
  }
  .list-share-form-cancel {
    float: left;
    margin-left: 2%;
  }
  .highlight {
    background-color: rgb(241, 241, 241);
    font-size: x-large;
    font-weight: 100;
  }

  .pink {
    background-color: pink
  }
  .orange {
    background-color: rgb(248, 172, 85)
  }
  .blue {
    background-color: rgb(76, 211, 221)
  }
  .red {
    background-color: rgb(190, 89, 106)
  }
  .black {
    background-color: rgb(0, 0, 0)
  }
  .white {
    color: rgb(255, 255, 255)
  }
    </style>

<div class="hero is-fullheight" id="vue-target" v-cloak>

  <div class="my-container">
    <div class="my-container-top-padding"></div>

    <div class="store-nav">
        <nav class="level is-mobile">
            <p class="level-item">
                <div class="dropdown is-hoverable">
                    <div class="dropdown-trigger">
                        <div class="text-1">
                            SHOPORA
                            <i class="fa fa-angle-down white" aria-hidden="true"></i>
                        </div>
                        <div class="dropdown-menu" id="dropdown-menu4" role="menu">
                            <div class="dropdown-content">
                              <a class="dropdown-item" href="[[=URL('collection')]]">
                                Collection
                              </a>
                              <hr class="dropdown-divider">
                              <a class="dropdown-item" href="[[=URL('lists')]]">
                                My Lists
                              </a>
                            </div>
                        </div>
                    </div>
                </div>
            </p>
            <p class="level-item fd">
                    &nbsp
                    <i class="fa fa-plane" aria-hidden="true"></i>
                    &nbsp
                    FREE SHIPPING ON ORDERS OVER $50 
                    &nbsp
                    <i class="fa fa-plane" aria-hidden="true"></i>
                    &nbsp
            </p>
            
            <p class="level-item fd">
                    FOLLOW US ON SOCIAL MEDIA - 
                    <span class="icon" style="color: rgb(194, 194, 194);">
                        <i class="fa fa-twitter"></i>
                    </span>
                    <span class="icon" style="color: rgb(194, 194, 194);">
                        <i class="fa fa-instagram"></i>
                    </span>
                    <span class="icon" style="color: rgb(194, 194, 194);">
                        <i class="fa fa-facebook"></i>
                    </span>
            </p>
            <p class="level-item fd"></p>
          </nav>
    </div>
    
    <!-- Begin item display page -->
    <div class="page-container">
      <div class="cart-title">
        <div class="cart-title-title">
          My Lists
        </div>
        <div class="list-title-name"> 
        </div>
        <div class="list-title-share" @click="set_list_share_mode(true)"> 
          SHARE
        </div>
        <div class="list-title-delete" @click="delete_list(current_list)"> 
          DELETE
        </div>
      </div>
      <!-- The left side of the My Lists page -->
      <div class="lists-left">
        <div v-for="listname in get_list_names(lists)">
          <div v-if="listname != 'Cart'">
            <div class="list-name" @click="current_list = listname">
              <div v-if="current_list == listname" class="highlight">
                {{ listname }}
              </div>
              <div v-else>
                {{ listname }}
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- The right side of the My Lists page -->
      <div class="lists-right">

        <!-- If the user wants to share a list with another user, they can
        fill the form here -->
        <div v-if="(list_share_mode) && (current_list != '')">
          <div class="list-share-form-container">
            <div class="input-email">
              <input class="input item-text3" type="text" placeholder="Enter recipient email" v-model="share_list_email">
            </div>
            <div class="list-share-form-submit button" @click="share_list(current_list, share_list_email)">
              Submit
            </div>
            <div class="list-share-form-cancel button" @click="share_list_email = '';list_share_mode = false;">
              Cancel
            </div>
          </div>
        </div>

          <!-- Retrieve item image and details -->
          <div v-for="list in lists"> 
            <div v-if="list.list_name == current_list">
              <div v-for="row in items">
                <div v-if="row.id == list.item_id">
                  <div class="item-container">

                      <div class="item-image-and-description">
                        <!-- Retrieve item image -->
                        <div class="item-image">
                          <img v-bind:src="row.item_image">
                        </div>
                        <div class="item-description">
                        </div>
                      </div>
                      <div class="item-other-details">
                        <!-- Retrieve item name -->
                        <div class="item-name">
                          {{ row.item_name }}
                        </div>
                        <!-- Retrieve item price -->
                        <div class="item-price-deco-rating">
                          <div class="item-price">
                            {{ row.item_price }}
                          </div>
                        </div>
                        <!-- Option to remove item from list -->
                        <div class="remove-item" @click="remove_list_item( list.list_id )">
                          REMOVE ITEM
                        </div>
                      </div>

                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>

    </div>
    <!-- End item display pagee -->

      <!-- Begin footer -->

      <!-- End footer -->

  </div>

</div>

[[block page_scripts]]
<script>
  let load_items_url = "[[=XML(load_items_url)]]";
  let load_curr_item_url = "[[=XML(load_curr_item_url)]]";
  let load_reviews_url = "[[=XML(load_reviews_url)]]";
  let add_review_url = "[[=XML(add_review_url)]]";
  let delete_review_url = "[[=XML(delete_review_url)]]";

  let upload_url = "[[=XML(upload_url)]]";
  let get_images_url = "[[=XML(get_images_url)]]";
  let load_user_lists_url = "[[=XML(load_user_lists_url)]]";
  let create_user_list_url = "[[=XML(create_user_list_url)]]";
  let remove_list_item_url = "[[=XML(remove_list_item_url)]]";
  let delete_list_url = "[[=XML(delete_list_url)]]";
  let share_list_url = "[[=XML(share_list_url)]]";
  let obtain_gcs_url = "[[=XML(obtain_gcs_url)]]";
  let notify_url = "[[=XML(notify_url)]]";

  let get_rating_url = "[[=XML(get_rating_url)]]";
  let add_liker_url = "[[=XML(add_liker_url)]]";
  let remove_liker_url = "[[=XML(remove_liker_url)]]";
  let get_likerslist_url = "[[=XML(get_likerslist_url)]]";
  let get_name_url = "[[=XML(get_name_url)]]";
</script>
<script src="js/app.js"></script>
[[end]]